/*
  Background: #1b242d;
  Alternate 1: #0e496d;
  Alternate 2: #0b3249;
  Alternate 3: #424e5b;

  Basic text: #E5E3E1;
 */


/*
  General Typography and  Helpers
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald:400,300);

* {
  box-sizing: border-box;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

html, body {
  background-color: #1b242d;
  color: #E5E3E1;
  font-family: Open Sans Condensed, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, .day-count {
  font-family: Oswald, Open Sans Condensed, Arial, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  margin: 1em 0;
}

header h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

h3, .day-count {
  font-size: 1.25em;
  margin: 0;
}

.instructions h3 {
  padding: 1em 1em 0;
}

p {
  line-height: 1.5em;
  margin: 0;
  padding: 0.75em 1.25em;
}

dl, ol, ul {
  margin: 0.75em 1.5em;
}

ol ul {
  margin-left: 0.5em;
}

li {
  margin: 0.5em 0;
}

.display-meta dl, .display-meta ul {
  margin: 0.5em 0 0 0;
  padding: 0;
}

dt, dd {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

dt {
  font-weight: bold;
  margin: 0 0.2em 0 0.5em;
}

.display-meta li {
  list-style: none;
}

form ul {
  margin: 0;
  text-align: center;
}

form li {
  display: inline-block;
  margin: 0;
  padding-left: 1em;
}

footer {
  margin: 2em 0 1em;
  text-align: center;
}

a {
  color: #FFA824;
  text-decoration: none;
}

a:hover {
  color: #ffb84d;
  text-shadow: 0 0 #ffb84d;
}

form {
  font-size: 14px;
}

.message {
  font-size: 1.5em;
  margin: 0;
  padding: 0 0.5em;
  text-align: center;
}

/*
  Layering
 */

header, .main-panel, .instructions, .display {
  position: relative;
}

header {
  z-index: 100;
}

.display {
  z-index: 50;
}

.side-panel {
  z-index: 500;
}


/*
  Grid and positioning
 */

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.instructions {
  flex: 1 0 5em;
  padding-bottom: 1em;
  overflow: hidden;
}

.instructions:hover, .instructions.hovered {
  flex-basis: auto;
}

.display-meta {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.display-meta div {
  padding: 0.5em;
}

.display-meta ul {
  display: flex;
}

canvas {
  display: block;
  margin: auto;
}

.results {
  margin: 3em 0 5em;
}

.form-input {
  display: flex;
  align-content: stretch;

  padding: 1em;
}

output, .output {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 0;
}

.input {
  flex: 2 1 0;
}


/*
  Theme
 */

header {
  background: #0e496d linear-gradient(#2c6d93, #0e496d 90%);
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  text-align: center;
}

.instructions {
  background: #964514;
}

.display, .side-panel {
  box-shadow: 0 -5px 5px rgba(0,0,0,0.5);
}

.side-panel {
  background: #0e496d;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}

thead td,
thead th,
tfoot td,
tfoot th {
  background: #0e496d;
}

tbody th,
tbody td {
  background: #0b3249;
}

th  {
  padding: 0.5em;
}

th, td {
  vertical-align: middle;
}

thead td {
  text-align: center;
}

tfoot td {
  font-style: italic;
}

td {
  padding: 0.2em 0.5em;
  font-size: 1.5em;
  text-align: right;
}

.form-input:nth-child(2n+1) {
  background: #0b3249;
}

output, .output {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(255,255,255,0.5), -1px -1px 15px rgba(0,0,0,0.5);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0 0.5em;
  text-align: center;
  width: 100%;
}

label {
  display: block;
  font-family: Oswald, Open Sans Condensed, sans-serif;
  margin-bottom: 0.5em;
}

li label {
  display: inline;
}

li input[type=radio] {
  margin-right: 0.5em;
}

input[type='number'] {
  background: #0b3249;
  border: 1px solid #E5E3E1;
  border-radius: 5px;
  font-size: 1.1em;
  color: #E5E3E1;
  text-align: center;
  width: 4.5em;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
}

input[type='range']:focus {
  outline: 0;
}

input[type='range']:hover {
  cursor: pointer;
}

input[type='range']:active::-moz-range-track {
  background: #D3DAE3;
}

input[type='range']:active::-webkit-slider-runnable-track {
  background: #D3DAE3;
}

::-moz-range-track {
  box-shadow: rgba(255,255,255, 0.5) 1px 1px 5px;
  border-radius: 3px;
  height: 6px;
  width: 100%;
}

::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: rgba(255,255,255, 0.5) 1px 1px 5px;
  border-radius: 5px;
  height: 6px;
  width: 100%;
}

::-moz-range-thumb {
  background: #fff linear-gradient(#fff, #999);
  border: none;
  border-radius: 50%;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff linear-gradient(#fff, #999);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: -5px;
}


/*
  Bigger mobile devices and up
 */
@media (min-width: 500px) {

  /*
    Grid and positioning
   */

  .display-meta {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .display-meta .day-count {
    min-width: 2em;
    padding-right: 1em;
  }

  .day-count span {
    display: block;
    font-size: 1.25em;
    text-align: right;
  }

  .canvas-container {
    margin: 1em auto;
    max-height: 85vh;
    width: 90%;
    max-width: 85vh;
  }


  /*
    Theme
   */

  .main-panel {
    font-size: 16px;
  }

  .display-meta div {
    background: #424e5b;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5),
                -1px -1px 1px rgba(255,255,255,0.4);
    margin: 0 0.25em;
  }

  .display-meta div:last-child {
    border-radius: 5px 0 0 5px;
  }

  .display-meta div:first-child {
    border-radius: 0 5px 5px 0;
  }

  table {
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5),
                -1px -1px 1px rgba(255,255,255,0.4);
  }

  thead th:last-child {
    border-top-right-radius: 5px;
  }

  tfoot tr:last-child th:first-child {
    border-bottom-left-radius: 5px;
  }

  tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }
}


/*
  Small desktop-size screens and up
 */
@media (min-width: 900px) {

  /*
    Layering
   */
  
  .instructions {
    z-index: 100;
  }

  /*
    Grid and positioning
   */
  main {
    flex-direction: row-reverse;
  }

  .main-panel {
    /*flex-direction: row-reverse;*/
    margin-top: -4.5em;
    padding: 0 5.5em 3em 0;
  }

  .simulation-output {
    display: flex;
    flex-direction: column;
  }

  .side-panel {
    flex: 25% 0 0;
  }

  .instructions {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 15em;
  }

  .instructions div {
    margin-right: 3.5em;
    font-size: 0;
    opacity: 0;
    transition: font-size 300ms ease-in-out,
                opacity 500ms ease-in-out 75ms;
  }

  .instructions h2 {
    position: absolute;
    transform: rotate(90deg);
    top: 3em;
    right: -1em;
  }

  .instructions.hovered div:before {
    display: block;
    content: 'Click again to close.';
    font-weight: bold;
    padding-top: 2em;
    margin-bottom: -2.5em;
    text-align: center;
  }

  .instructions:hover div, .instructions.hovered div {
    font-size: 1em;
    opacity: 1;
  }

  .instructions p {
    margin: auto;
    max-width: 50em;
  }

  header {
    width: 25%;
  }

  footer {
    margin-left: 25%;
    margin-top: -3em;
    margin-bottom: 0;
  }

  ul.output {
    flex: 2;
  }


  /*
    Theme
   */
  
  header h1 {
    font-size: 2.5em;
  }
  
  header, .side-panel {
    box-shadow: 3px 10px 10px rgba(0,0,0,0.5);
  }

  .instructions {
    box-shadow: -3px 0 10px rgba(0,0,0,0.5);
  }

  .display, .main-panel {
    box-shadow: none;
  }
}


/*
  Average desktop-size screens and up
 */
@media (min-width: 1400px) {
  .side-panel {
    flex: 25% 0 0;
  }

  header {
    width: 25%;
  }

  footer {
    margin-left: 25%;
  }
}